@import "../../Variables/Variables.scss";

.table-container {
  position: relative;
  width: 100%;
  overflow: scroll;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;

  table {
    padding: 1.625rem 1.875rem 0.875rem 1.875rem;

    th {
      color: $secondary-text-color;
      font-size: 0.75rem;
      text-align: left;
      padding-bottom: 0.75rem;
      user-select: none;
    }
    th:nth-child(1) {
      min-width: 250px;
    }

    th:nth-child(2) {
      min-width: 200px;
    }

    th:nth-child(3) {
      min-width: 250px;
    }
    th:nth-child(4) {
      min-width: 200px;
    }
    th:nth-child(5) {
      min-width: 250px;
    }
    th:nth-child(6) {
      min-width: 150px;
    }
    th:nth-child(7) {
      // max-width: 3px;
      // border: 1px solid red;
    }

    td {
      color: $secondary-text-color;
      font-size: 0.875rem;
      text-align: left;
      border-spacing: 0px;
      border-bottom: 1px solid #213f7d1a;
    }

    .table-head-group {
      display: flex;
      align-items: center;
      gap: 0.625rem;
    }
    .row {
      padding-bottom: 0.9rem;
      padding-top: 0.9rem;
      .status-action {
        position: relative;
        cursor: pointer;
        user-select: none;
        .action-modal {
          position: absolute;
          top: -1rem;
          left: -8.6rem;
          width: 11.25rem;
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          border-radius: 0.25rem;
          background-color: white;
          z-index: 1;
          padding-right: 75rem;
        }

        .icon-and-text {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-size: 0.875rem;
          font-weight: 500;
          cursor: pointer;
          user-select: none;
          // border: 1px solid blue;
          transition: all 0.2s ease-in-out;
          padding-left: 1.25rem;
          // padding-right: 0.75rem;

          &:hover {
            background-color: #213f7d1a;
          }
        }

        .item {
          // border: 1px solid red;
          font-weight: 500;
          padding: 0.625rem 0;
          margin: 0;
        }
      }
    }
    .no-border {
      border: none;
    }

    .link-to-user-details {
      text-decoration: none;
      color: $secondary-text-color;
    }
    .Inactive {
      width: fit-content;
      border-radius: 6.25rem;
      color: $secondary-text-color;
      background-color: $inactive-bg-color;
      padding: 0.4375rem 0.8125rem 0.375rem;
    }
    .Active {
      width: fit-content;
      border-radius: 6.25rem;
      color: $active-text-color;
      background-color: $active-bg-color;
      padding: 0.4375rem 0.8125rem 0.375rem;
    }
    .Pending {
      width: fit-content;
      border-radius: 6.25rem;
      color: $pending-text-color;
      background-color: $pending-bg-color;
      padding: 0.4375rem 0.8125rem 0.375rem;
    }
    .Blacklisted {
      width: fit-content;
      border-radius: 6.25rem;
      color: $blacklisted-text-color;
      background-color: $blacklisted-bg-color;
      padding: 0.4375rem 0.8125rem 0.375rem;
    }
  }
}

.table-pagination {
  display: flex;
  justify-content: space-between;
  .table-page-counter {
    .showing {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      color: $secondary-text-color;
      user-select: none;
      .showing-select {
        border: 1px solid #213f7d1a;
        select {
          color: $primary-text-color;
          border: none;
          outline: none;
          padding-top: 0.3rem;
          padding-bottom: 0.3rem;
        }
      }
    }
  }
  .table-navigators {
    .secondary-nav {
      display: flex;
      align-items: center;
      button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
      }
      .action-icon {
        user-select: none;
        cursor: pointer;
        color: $primary-text-color;
        padding: 0.40625rem 0.483rem;
        background-color: #213f7d1a;
        border-radius: 0.25rem;
      }
      .action-icon:disabled {
        color: #6f83aa;
        cursor: not-allowed;
      }
    }
  }
}
