@import "../../Variables/Variables.scss";

.single-nav {
  // width: 9.8rem;
  // width: 100%;
  // border: 1px solid black;

  .active-nav {
    border-bottom: 2px solid $tertiary-text-color;
    color: $tertiary-text-color;
  }
  .nav-name {
    // padding: 0 10% 0.625rem 10%;
    padding-bottom: 0.625rem;
    padding-left: 1.55rem;
    padding-right: 1.55rem;
    margin: 0;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
}
