// COLORS

$primary-bg-color: #ffffff;
$primary-text-color: #213f7d;
$secondary-text-color: #545f7d;
$placeholder-color: #545f7d5d;
$tertiary-text-color: #39cdcc;
$inactive-bg-color: #f5f5f7;
// inactive is the same as secondary text color
$pending-bg-color: #fdf7e5;
$pending-text-color: #e9b200;
$active-text-color: #39cd62;
$active-bg-color: #f2faf4;
$blacklisted-text-color: #e4033b;
$blacklisted-bg-color: #fde6eb;
$login-border-color: #545f7d26;
$sidebar-item-text-color: #7a8cb1;

// FONTS

$primary-font: Work Sans, sans-serif;
$secondary-font: "Avenir Next LT Pro", sans-serif;
$tertiary-font: "Avenir Next Cyr", sans-serif;

@mixin centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin inputPseudo {
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $placeholder-color;
    font-size: 0.875rem;
  }
}
