@import "../../Variables/Variables.scss";

.side-bar-container {
  width: 17.6875rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  padding-top: 2.5rem;
  padding-bottom: 0.625rem;

  .switch-organization {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding-left: 1.875rem;
    margin-bottom: 2.625rem;

    .text {
      font-size: 1rem;
      color: $primary-text-color;
      padding: 0;
      margin: 0;
    }
    .dropdown {
      cursor: pointer;
    }
  }
  .title {
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
    padding-left: 1.875rem;
    color: $secondary-text-color;
    font-size: 0.75rem;
    font-weight: 500;
  }
  .grouping {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  .divider {
    margin-top: 3.75rem;
    border: 0.5px solid $primary-text-color;
    opacity: 0.1;
  }

  .logout {
    color: $primary-text-color;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    padding-left: 1.875rem;
    transition: all 0.2s ease-in-out;
    // border: 1px solid red;
    margin: 1.25rem 0 2.5rem;

    p {
      padding: 0;
      margin: 0;
    }
    &:hover {
      padding-left: 2.3rem;
    }
  }

  .version {
    color: $primary-text-color;
    padding-left: 1.875rem;
    font-size: 0.75rem;
  }
}
