@import "../../Variables/Variables.scss";

.right-container {
  height: auto;
  width: 72%;
  align-self: start;
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary-text-color;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 75%;
  margin-right: 3.75rem;
  margin-top: 7rem;
}
