@import "../../Variables/Variables.scss";

.numbers-group {
  display: flex;
  margin: 0 0.625rem;
  font-size: 1rem;
  color: #979daf;
  user-select: none;
  cursor: pointer;
  .highlight {
    color: #545f7d;
  }
  .page-number {
    padding: 0.625rem;
  }

  @media (max-width: 380px) {
    font-size: 0.625rem;
  }
}
