@import "../../Variables/Variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3.75rem 1.5rem 1.875rem;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

  .left-section {
    display: flex;
    gap: 10.3rem;

    .logo-image {
      cursor: pointer;
    }

    .search-container {
      display: flex;

      .search-input {
        border-bottom: 0.1px solid #213f7d33;
        border-top: 0.1px solid #213f7d33;
        border-left: 0.1px solid #213f7d33;
        border-radius: 0.5rem 0 0 0.5rem;
        width: 21.5rem;
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
        input {
          width: 90%;
          border: none;
          outline: none;

          &::placeholder {
            color: #545f7d;
            opacity: 70%;
          }
        }
      }
      .green-search-icon {
        background-color: $tertiary-text-color;
        border-bottom: 1px solid $tertiary-text-color;
        border-top: 1px solid $tertiary-text-color;
        border-right: 1px solid $tertiary-text-color;
        border-radius: 0 0.5rem 0.5rem 0;
        display: flex;
        align-items: center;
        padding: 0 1.3125rem;
        cursor: pointer;
      }
    }
  }

  .right-section {
    display: flex;
    align-items: center;

    .docs {
      padding: 0;
      margin: 0;
      text-decoration: underline;
      color: $primary-text-color;
      margin-right: 3.315rem;
      cursor: pointer;
      user-select: none;
      font-size: 1rem;
    }

    .icon {
      cursor: pointer;
      margin-right: 2.0725rem;
      cursor: pointer;
    }

    .profile-image {
      border-radius: 100%;
      margin-right: 0.625rem;
      cursor: pointer;
    }

    .action-btn {
      display: flex;
      align-items: center;
      gap: 0.645625rem;

      .username {
        color: $primary-text-color;
        cursor: pointer;
        font-size: 1rem;
      }

      .drop {
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1150px) {
    .left-section {
      gap: 4rem;
    }
  }

  @media (max-width: 1060px) {
    .left-section {
      gap: 2.5rem;
    }
  }

  @media (max-width: 1020px) {
    .left-section {
      .search-container {
        .search-input {
          width: 15rem;
        }
      }
    }
  }
  @media (max-width: 930px) {
    .right-section {
      .docs {
        display: none;
      }
    }
  }
  @media (max-width: 840px) {
    .right-section {
      .icon {
        display: none;
      }
    }
  }

  @media (max-width: 770px) {
    .right-section {
      .username {
        display: none;
      }
    }
  }

  @media (max-width: 700px) {
    padding: 1.5rem 1.875rem 1.5rem 1.875rem;
  }

  @media (max-width: 660px) {
    .left-section {
      .search-container {
        .search-input {
          width: 10rem;
        }
      }
    }
  }

  @media (max-width: 590px) {
    .left-section {
      .search-container {
        display: none;
      }
    }
  }

  @media (max-width: 320px) {
    .left-section {
      .logo-image img {
        width: 120px;
      }
    }

    .right-section {
      .profile-image {
        width: 36px;
      }
    }
  }
}
